{% extends "settings/settings.html" %}
{% load i18n %}

{% block settings_section %}
<div class="w-full bg-primary_lightest/25 p-8 rounded-lg">
    <!-- Encabezado de sección de ajustes de cuenta -->
    <h2 class="text-primary_black text-2xl font-semibold mb-4">{% translate "Ajustes de Cuenta" %}</h2>
    <p class="text-primary_black text-sm mb-6">
        {% translate "Actualiza los detalles de tu cuenta. Solo se guardarán los cambios en los campos que modifiques. Para modificar información personal, dirígete a " %}
        <a href="{% url 'my_profile' %}" class="text-primary_dark hover:underline">
            {% translate "Perfil" %}
        </a>.
    </p>

    <!-- Mensajes de éxito o error -->
    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
            <div class="{% if message.tags == 'error' %}bg-red-100 text-red-700{% else %}bg-green-100 text-green-700{% endif %} p-3 rounded-md">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Formulario de ajustes de cuenta -->
    <form method="POST" action="{% url 'change_username' %}" class="space-y-6">
        {% csrf_token %}
        
        <!-- Campo de Nombre de Usuario -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <label class="block text-sm font-medium text-primary_black" for="username">Username</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" 
                       placeholder="username"
                       class="w-full p-2 border rounded-md bg-white focus:ring-2 focus:ring-primary_dark focus:outline-none">
            </div>
        </div>

        <!-- Botón de Guardar Cambios -->
        <div class="flex justify-end">
            <button type="submit" class="bg-primary_dark text-white py-2 px-6 rounded-md text-sm hover:bg-primary_darker transition">
                {% translate "Guardar cambios" %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
