{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="flex w-full justify-center items-center h-screen flex-col">

    <div class="rounded-lg shadow-md text-center w-full md:w-[585px] p-10">

        <div class="justify-center items-center flex mb-4">
            <i>{% include 'icon/flowlance.html' with w='65' h='65' %}</i>
        </div>



        <!-- Title -->
        <h1 class="text-primary_black text-3xl font-bold mb-4">{% translate "Restablecer credenciales" %}</h1>

        <!-- Password Change Form -->
        <form method="POST">
            {% csrf_token %}

            <!-- Loop through form fields and style them -->
            {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {% endfor %}

            <!-- Submit Button -->
            <button type="submit" class="bg-primary_medium text-white w-full py-2 rounded-md mb-4">
                {% translate "Restablecer contraseña" %}
            </button>
        </form>

        <!-- Display error messages -->
        {% if form.errors %}
        <ul>
            {% for field in form %}
            {% for error in field.errors %}

            <div class="bg-red-500 text-white p-2 mb-4 rounded-md">
                <li>{{ error }}</li>

            </div>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</div>

<!-- Client-side Validation Script -->
<script>
    document.querySelector('form').addEventListener('submit', function (e) {
        const password = document.getElementById('new_password').value;
        const confirmPassword = document.getElementById('new_password_confirmation').value;

        if (password !== confirmPassword) {
            e.preventDefault();
            alert("{% translate 'Las contraseñas no coinciden' %}");
        }
    });
</script>
{% endblock %}