{% extends "settings/settings.html" %}
{% load i18n %}

{% block settings_title %}{% translate "Seguridad e Inicio" %}{% endblock %}

{% block settings_section %}
<div class="bg-primary_lightest/20 p-8 rounded-lg w-full shadow-md flex flex-col">
    <!-- Sección de Autenticación Doble Factor -->
    <div class="pb-6">
        <h1 class="text-2xl font-bold text-primary_black mb-4">{% translate "Factor de Doble Autenticación" %}</h1>
        <form id="toggle-2fa-form" action="{% url 'toggle_2fa' %}" method="POST">
            {% csrf_token %}
            
            <!-- Etiqueta e Interruptor de Activación -->
            <div class="flex items-center gap-4">
                <label for="has_2FA_on" class="text-primary_black cursor-pointer">
                    {% translate "Activar el Factor de Doble Autenticación" %}
                </label>

                <label class="inline-flex items-center cursor-pointer">
                    <input <input type="checkbox" name="has_2FA_on" id="has_2FA_on" class="sr-only peer"
                    onchange="document.getElementById('toggle-2fa-form').submit();"
                    {% if has_2FA_on %} checked {% endif %}>
                    <div class="relative w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-primary_black/25 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-primary_medium"></div>
                </label>

            </div>
        </form>
    </div>

    <!-- Sección de Restablecimiento de Credenciales -->
    <div class="border-t border-gray-200 pt-6">
        <h2 class="text-xl font-semibold text-primary_black mb-4">{% translate "Restablecer Credenciales" %}</h2>
        {% url 'restore_password' as restore_password %}
        {% include "utils/anchor_button.html" with type=1 label="Restablecer Credenciales" url=restore_password %}
    </div>
</div>
{% endblock %}
