{% extends "navigation/navigation.html" %}
{% load i18n %}

{% block app_content %}
<div class="h-full w-full">

    <div class="flex items-center justify-between mb-8">
        <h1 class="text-3xl font-semibold text-primary_black">{% translate "Seguridad e Inicio" %}</h1>
    </div>
    <!-- La nav bar de la derecha -->
    {% include "settings/settings_navbar.html" with section='security' %}

    <div class="bg-primary_lightest p-8 rounded-lg shadow-lg w-full max-w-lg">
        <h1 class="text-3xl font-semibold text-primary_black mb-6">{% translate "Factor de Doble Autenticacion" %}</h1>

        <form action="{% url 'toggle_2fa' %}" method="POST">
            {% csrf_token %}
            <label for="has_2FA_on" class="text-primary_black text-lg font-medium">
                {% translate "Activar el Factor de Doble autenticacion" %}
            </label>

            <!-- Tailwind Toggle Switch -->
            <div class="relative inline-block w-12 h-6 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="has_2FA_on" id="has_2FA_on" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer transition duration-200 ease-in transform
               {% if has_2FA_on %}
                   translate-x-6 border-transparent
               {% endif %}" {% if has_2FA_on %} checked {% endif %}>
                <label for="has_2FA_on"
                    class="block overflow-hidden h-6 rounded-full bg-primary_medium cursor-pointer"></label>
            </div>

            <button type="submit" class="mt-4 bg-primary_dark text-white py-2 px-4 rounded-md">{% translate "Guardar"%}</button>
        </form>
    </div>
</div>
</div>
{% endblock %}