{% load i18n %}
<div class="flex">
    <div class="w-1/4">
        <nav class="bg-white rounded-lg p-4 mr-10">
            <ul>
                <li class="mb-6">
                    <!-- EStos section de los IF se los mando desde el include de security_settings por ejemplo -->
                    <a href="/settings/account" class="
                    {% if section == 'account'%} 
                    text-primary_black
                    {% else %} 
                    text-primary_light
                    {% endif %}
                    text-lg font-medium">{% translate "Ajustes de Cuenta" %}</a>
                </li>
                <li class="mb-6">
                    <a href="/settings/notification_settings" class="
                    {% if section == 'notification'%} 
                    text-primary_black
                    {% else %} 
                    text-primary_light
                    {% endif %}
                    text-lg font-medium">{%translate "Ajustes de Notificaciones" %}</a>
                </li>
                <li class="mb-6">
                    <a href="/settings/security" class="
                    {% if section == 'security'%} 
                    text-primary_black
                    {% else %} 
                    text-primary_light
                    {% endif %}
                    text-lg font-medium">{% translate "Seguridad e Inicio" %}</a>
                </li>
                <li class="mb-6">
                    <a href="/settings/chat_settings" class="
                    {% if section == 'chat'%} 
                    text-primary_black
                    {% else %} 
                    text-primary_light
                    {% endif %}
                    text-lg font-medium">{% translate "Chat"%}</a>
                </li>
            </ul>
        </nav>
    </div>