{% extends "navigation/navigation.html" %}

{% block app_content %}

<div class="flex flex-col m-auto items-center justify-center w-full h-full">
    
    <div class="flex justify-start w-full p-4">
        <a href="http://127.0.0.1:8000/profile/create_project/" class="flex items-center justify-center p-2 bg-[#6C4EF4] text-white rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Agregar Portafolio
        </a>
    </div>

</div>

{% endblock %}
