<div class="mt-8 w-full">
    <h3 class="text-lg font-semibold text-primary_black">Entregables</h3>

    <div class="mt-4">
        <div class="flex flex-col">
            <!-- Add a scrollable container with fixed height -->
            <div class="overflow-y-auto h-64 w-full p-4 bg-gray-100 rounded-lg"> 
                {% for assigment in milestone.assigments.all %}
                <div class="bg-bg_white p-4 mb-4 rounded-lg text-center space-y-4 shadow-md">
                    <h3 class="text-md font-bold text-primary_medium">{{ assigment.title }}</h3>
                    <span>Asignado a: {{ assigment.responsible.username }}</span>
                    <p class="text-sm ">{{ assigment.description|truncatewords:50 }}</p>
                    <p class="text-sm text-primary_medium">Fecha de Finalización: {{ assigment.end_date }}</p>
                    <p class="text-sm text-primary_medium">Estado: {{ assigment.state }}</p>
                    <div class="mt-2">
                        {% include 'utils/anchor_button.html' with type=1 label='Subir Entrega' %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="flex justify-center mt-4">
            {% url 'create_assigment' milestone.id as new_assigment %}
            {% include 'utils/anchor_button.html' with type=1 label='Crear Entregable' url=new_assigment %}
        </div>

    </div>
</div>