{% extends "projects/default_project_view.html" %}

{% load i18n %}
{% load static %}

{% block section %}
<h2 class="text-2xl font-bold text-primary_black mb-5">{% translate "Calendario" %}</h2>
<div id="calendar"></div>
<!-- Contenedor del calendario -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>

<script type="text/javascript">
    // Pasar los eventos como una variable JavaScript desde el contexto de Django
    var events = {{ events|safe }};
    
    $(document).ready(function() {
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: events  // Cargar los eventos directamente desde Django
        });
    });
</script>
{% endblock %}
