{% extends "navigation/navigation.html" %}

{% block app_content %}
<div class="container mx-auto p-4">
    <!-- Navigation Tabs -->
    <div class="flex items-center justify-center gap-5 bg-primary_lightest rounded-lg px-20 py-2 text-white">
        <a href="/project/{{project.id}}/milestone"
            class="text-md font-semibold bg-primary_light rounded-md px-10 py-1 {% if section == 'milestone' %} !bg-primary_dark text-white{% endif %}">Hitos</a>
        <a href="/project/{{project.id}}/task"
            class="text-md font-semibold bg-primary_light rounded-md px-10 py-1 {% if section == 'task' %} !bg-primary_dark text-white{% endif %}">Tareas</a>
        <a href="/project/{{project.id}}/time_line"
            class="text-md font-semibold bg-primary_light rounded-md px-10 py-1 {% if section == 'time_line' %} !bg-primary_dark text-white{% endif %}">Línea
            de Tiempo</a>
        <a href="/project/{{project.id}}/calendar"
            class="text-md font-semibold bg-primary_light rounded-md px-10 py-1 {% if section == 'calendar' %} !bg-primary_dark text-white{% endif %}">Calendario</a>
    </div>

    <!-- Panel de Control -->
    <h1 class="text-primary_black text-2xl font-bold mt-4">Panel de control</h1>

    <div class="bg-primary_lightest p-6 rounded-lg shadow-md mt-6">
        <div class="flex pt-10">
            <!-- Left Section with Image -->
            <div>
                <img src="https://picsum.photos/450/300" alt="Project Image" class=" w-[400px] h-[300px] rounded-lg mr-6">
                <div class="mt-4 space-y-2">
                    <h2 class="text-3xl font-bold text-primary_black">{{ project.title }}</h2>
                    <p class="text-lg font-semibold text-primary_black">Presupuesto: <span
                            class="text-primary_medium">{{ project.budget}}</span>
                    </p>
                </div>
            </div>

            <!-- Right Section with Details -->
            <div class="ml-4">
                <p class="mt-2 text-black">{{ project.description|truncatewords:500 }}...</p>

                <div class="items-center mt-4 space-y-5">
                    <button class="block bg-primary_medium text-white px-8 py-2 rounded-lg">Editar</button>
                    <button class=" bg-primary_medium text-white px-4 py-2 rounded-lg">Ver requerimientos</button>
                </div>

            </div>
        </div>
    </div>
    {%block section %}

    {% endblock %}

</div>
{% endblock %}