{% extends "navigation/navigation.html" %}


{% block app_content %}

<div class="bg-white p-6 rounded-lg shadow-lg">
    <h3 class="text-lg font-semibold text-primary_black">Añadir Hito</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mt-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
            <input id="name" name="name" type="text"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary_medium focus:border-primary_medium sm:text-sm"
                required>
        </div>
        <div class="mt-4">
            <label for="description" class="block text-sm font-medium text-gray-700">Descripción</label>
            <textarea id="description" name="description" rows="3"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary_medium focus:border-primary_medium sm:text-sm"
                required></textarea>
        </div>
        <div class="mt-4">
            <label for="end_date" class="block text-sm font-medium text-gray-700">Descripción</label>
            <input name="end_date" type="date" id="end_date"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary_medium focus:border-primary_medium sm:text-sm"
                required>
        </div>

        <div id="start_date_div"></div>


        <div class="mt-4 flex justify-end">
            <a href="/project/{{project_id}}/milestone">
                <button type="button" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg mr-2">Cancelar</button>
            </a>
            <button type="submit" class="bg-primary_medium text-white px-4 py-2 rounded-lg">Guardar</button>
        </div>
    </form>
</div>

{% endblock %}