{% extends "projects/default_project_view.html" %}

{% block section %}

<div>

    <!-- Hitos Section -->
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold text-primary_black">Hitos</h2>

        {% url 'add_milestone' project.id as add_milestone_url %}
        {% include 'utils/anchor_button.html' with type=1 label='Añadir' url=add_milestone_url %}

    </div>

    <div class="grid grid-cols-3 gap-6 mt-4">
        <!-- Loop through Milestones -->
        {% for milestone in milestones %}
        <div class="bg-bg_white p-4 rounded-lg text-center space-y-4">
            <h3 class="text-lg font-semibold text-primary_black">{{ milestone.name }}</h3>
            <p class="text-sm text-primary_medium">Fecha de Inicio: {{ milestone.start_date }}</p>
            <p class="text-sm text-primary_medium">Fecha de Finalización: {{ milestone.end_date }}</p>
            <span class="text-sm text-primary_dark block">Entregables: <span
                    class="block text-black mt-2">{{milestone.deliverables }}/10</span></span>
            <div class="mt-10">
                {% url 'edit_milestone' milestone.id as milestone_edit_url %}
                {% include 'utils/anchor_button.html' with type=1 label='Ver más' url=milestone_edit_url %}
            </div>
        </div>
        {% endfor %}
    </div>


</div>


{% endblock %}