{% load i18n %}

<li class="border-b border-gray-200 py-2 flex justify-between items-center">
    <div>
        <p>
            <strong>{% translate "Usuario:" %}</strong> 
            <a href="text-blue-500 hover:underline">
               {{ application.user.username }}
            </a>
        </p>                     
        <p><strong>{% translate "Estado:" %}</strong> {{ application.status }}</p>
        <p><strong>{% translate "Fecha de Aplicación:"%}</strong> {{ application.applied_at|date:"d M Y" }}</p>
        {% if DashboardView %}
        <p><strong>{% translate "Proyecto:" %}</strong> {{ application.project.title }}</p>
        {% endif %}
        
    </div>
    {% if application.status == 'Pendiente' and not DashboardView %}
    <div class="flex gap-2">
        <a href="{% url 'update_application_status' application.id 'accept' %}"
            class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 transition-transform duration-300 hover:scale-110 hover:animate-upDown">Aceptar</a>
        <a href="{% url 'update_application_status' application.id 'reject' %}"
            class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition-transform duration-300 hover:scale-110 hover:animate-wiggle">Rechazar</a>
    </div>
    {% endif %}

    {% if DashboardView %}
        <a href="../project/{{application.project.id}}/milestones" class="bg-primary_medium text-white px-3 py-1 rounded hover:bg-primary_dark">📩</a>
    {% endif %}



</li>