{% extends "navigation/navigation.html" %}

{% load i18n %}
{% block app_content %}
<div class=" py-6">
    <div class="flex flex-col gap-2 md:flex-row justify-between items-center w-full bg-bg_gray py-2 px-4 rounded-xl mb-4">
        <div class="flex flex-row gap-2">
            {% url 'project_list' as project_main_view %}
            {% trans "Disponibles" as translated_label %}
            {% include 'utils/anchor_button.html' with label=translated_label type=2 url=project_main_view %}


            {% url 'my_projects' as list_projects_available %}
            {% trans "Mis Proyectos" as translated_label %}
            {% include 'utils/anchor_button.html' with label=translated_label type=1 url=list_projects_available %}

        </div>

        {% if request.profile_type == 'company' %}
        <div class="flex">
            {% url 'create_project' as create_project_url %}
            {% trans "Crear Proyecto" as translated_label %}
            {% include 'utils/anchor_button.html' with label=translated_label type=1 url=create_project_url %}
        </div>
        {% endif %}

    </div>

    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">{% translate "Mis Proyectos" %}</h1>
    </div>

    <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 bg-bg_gray w-full h-full p-4 rounded-xl">
        {% for project in projects %}
        {% include 'projects/project_card.html' %}
        {% empty %}
        <p class="text-gray-500 col-span-3">{% translate "Sin resultados." %}</p>
        {% endfor %}
    </div>
</div>
{% endblock app_content %}