<div class="flex flex-col w-52 bg-bg_white">

    <div class="flex flex-col gap-2 p-4">
        <div class="flex flex-row items-center gap-2">
            <div class="text-sm font-bold">{{title}}</div>
    </div>
    
    <div class="flex flex-col gap-2 p-4">
        <div class="text-xs text-gray-400">Presupuesto:</div>
        <div class="text-xs font-bold">$1000.00</div>
    </div>

    <div class="flex flex-col gap-2 p-4">
        <div class="text-xs text-gray-400">Acciones:</div>
        <div class="flex flex-row gap-2">
            <a href="#" class="text-xs text-[#6C4EF4]">Ver Detalles</a>
            <a href="#" class="text-xs text-[#6C4EF4]">Editar</a>
            <a href="#" class="text-xs text-[#6C4EF4]">Eliminar</a>
        </div>
    </div>

</div>