{% load i18n %}
{% load static %}

<div class="hero relative min-h-screen flex flex-col items-center justify-center py-20">
    <div class="relative z-10 flex flex-col items-center justify-center gap-10 m-auto w-3/5">

        {% blocktranslate %}
        <p class="text-6xl font-bold text-primary_black text-center">
            Donde los <span class="text-primary_medium font-bold">proyectos</span> encuentran a los
            <span class="text-[#F2AE30] font-bold"> profesionales</span>
        </p>
        {% endblocktranslate %}


        <p class="text-xl font-medium text-gray-700 text-center">
            {% translate "Encuentra el talento que necesitas y lleva tu negocio al siguiente nivel" %}
        </p>

        <div class="flex gap-4 items-center">
            <a href="/choose-path/" class="bg-primary_medium text-white font-bold py-3 px-8 rounded-full hover:bg-primary_dark transition">
                {% translate "Regístrate ahora" %}
            </a>
            <a href="" class="text-primary_medium font-bold hover:underline">
                {% translate "Más información" %} →
            </a>
        </div>
    </div>
</div>

<!-- Imagen de fondo -->
<style>
    .hero {
        background-image: url("{% static 'img/hero-bg.svg' %}");
        background-size: cover;
        background-position: center;
    }
</style>
