{% extends 'base.html' %}
{% block content %}
<div class="flex flex-col justify-center items-center h-screen p-4 md:p-0">
    <!-- Mensaje de confirmación de contraseña -->
    <div class="rounded-lg shadow-md text-center w-full max-w-md p-6 md:p-10 bg-white">
        
        <!-- Título -->
        <h1 class="text-primary_black text-2xl md:text-3xl font-bold mb-6">Contraseña establecida</h1>
        
        <!-- Mensaje de éxito -->
        <p class="text-primary_black mb-6">
            Tu contraseña ha sido establecida correctamente.
        </p>

        <!-- Enlace para iniciar sesión -->
        <a href="{% url 'login' %}"
           class="bg-primary_medium text-white w-full py-2 rounded-md text-center block">
            Iniciar sesión
        </a>
    </div>
</div>

{% endblock %}
