{% extends 'base.html' %}
{% load custom_filters %}
{% load socialaccount static i18n %}


{% block content %}
<div class="login-bg flex flex-col justify-center items-center h-screen p-4 md:p-0">
    <!-- Contenedor principal -->
    <div class="rounded-lg shadow-md text-center w-full max-w-md p-6 md:p-10 bg-white">

        {% if validlink %}
            <!-- Título -->
            <h1 class="text-primary_black text-2xl md:text-3xl font-bold mb-6">Cambiar contraseña</h1>

            <!-- Formulario de cambio de contraseña -->
            <form method="post" class="text-left">
                {% csrf_token %}
                
                <!-- Campo de nueva contraseña -->
                <div class="form-group mb-4">
                    <label class="mb-2 text-primary_black">{{ form.new_password1.label }}</label>
                    {{ form.new_password1|add_class:"form-control w-full rounded-md bg-white border border-primary_lightest" }}
                    {% if form.new_password1.help_text %}
                        <small class="text-gray-500">{{ form.new_password1.help_text }}</small>
                    {% endif %}
                    {% for error in form.new_password1.errors %}
                        <p class="text-red-500 text-sm">{{ error }}</p>
                    {% endfor %}
                </div>

                <!-- Campo de confirmación de nueva contraseña -->
                <div class="form-group mb-4">
                    <label class="mb-2 text-primary_black">{{ form.new_password2.label }}</label>
                    {{ form.new_password2|add_class:"form-control w-full rounded-md bg-white border border-primary_lightest" }}
                    {% for error in form.new_password2.errors %}
                        <p class="text-red-500 text-sm">{{ error }}</p>
                    {% endfor %}
                </div>

                <!-- Botón de envío -->
                <button type="submit" class="bg-primary_medium text-white w-full py-2 rounded-md">
                    Cambiar contraseña
                </button>
            </form>
        {% else %}
            <!-- Mensaje de error -->
            <div class="bg-red-500 text-white p-4 rounded-md mb-6">
                <p>
                    El enlace de restablecimiento de contraseña es inválido o ya ha sido usado. 
                    Por favor solicita un nuevo restablecimiento de contraseña.
                </p>
            </div>
        {% endif %}
    </div>
</div>

<!-- Imagen de fondo -->
<style>
    .login-bg {
        background-image: url("{% static 'img/hero-bg.svg' %}");
        background-size: cover;
        background-position: center;
    }
</style>

{% endblock %}
