{% extends 'base.html' %}
{% load socialaccount static i18n %}
{% load custom_filters %}
{% load socialaccount static i18n %}



{% block content %}
<div class="login-bg flex flex-col justify-center items-center h-screen p-4 md:p-0">
    <!-- Contenedor principal -->
    <div class="rounded-lg shadow-md text-center w-full max-w-md p-6 md:p-10 bg-white">
        
        <!-- Título -->
        <h1 class="text-primary_black text-2xl md:text-3xl font-bold mb-6">Restablecer contraseña</h1>

        <!-- Formulario de restablecimiento de contraseña -->
        <form method="post" class="text-left">
            {% csrf_token %}
            <!-- Campo de correo electrónico o nombre de usuario -->
            <div class="form-group mb-4">
                <label class="mb-2 text-primary_black">{{ form.email.label }}</label>
                {{ form.email|add_class:"form-control w-full rounded-md bg-white border border-primary_lightest" }}
            </div>

            <!-- Botón de envío -->
            <button type="submit" class="bg-primary_medium text-white w-full py-2 rounded-md">
                Enviar
            </button>
        </form>
    </div>
</div>

<!-- Imagen de fondo -->
<style>
    .login-bg {
        background-image: url("{% static 'img/hero-bg.svg' %}");
        background-size: cover;
        background-position: center;
    }
</style>
{% endblock %}
