{% extends "navigation/navigation.html" %}

{% load i18n %}

{% block app_content %}


    <div class="flex flex-row gap-2 w-full justify-center items-center ">
        <div class="bg-white shadow-lg rounded-lg p-10 flex flex-col items-center justify-center m-auto w-96 h-64">
            <h1 class="font-bold text-xl">{% translate "Página en construcción" %}</h1>
            <br>
            <p>{% translate "Estamos trabajando lo más rápido posible :)" %}</p>
        </div>
    </div>
{% endblock %}