<nav class="flex flex-col h-screen w-full p-4 bg-white shadow-lg">

  <!-- Logo -->
  <div class="text-2xl font-bold mb-8">
    <a href="{% url 'home' %}" class="text-[#6C4EF4] flex items-center space-x-2">
      <i> {% include 'icon/flowlance.html' with w='32' h='32' %} </i>
      <span>Flowlance</span>
    </a>
  </div>

  <!-- Main Menu -->
  <div class="uppercase text-gray-400 mb-4">Main Menu</div>

  <!-- Dashboard Link -->
  <a href="{% url 'dashboard' %}" class="flex items-center p-2 bg-[#6C4EF4] text-white rounded">
    {% include 'icon/home.html' with property="bold" %}
    Dashboard
  </a>

  <!-- Proyectos Link -->
  <a href="/project/list" class="flex items-center p-2 mt-4 text-[#6C4EF4] hover:bg-[#DED3F9] rounded">

    {% include 'icon/slider-vertical.html' with property="outline" %}
    Proyectos
  </a>

  <!-- Chat Link -->
  <a href="{% url 'chat' %}" class="flex items-center p-2 mt-4 text-[#6C4EF4] hover:bg-[#DED3F9] rounded">
    {% include 'icon/message.html' with property="outline" %}
    Chat
  </a>

  <!-- Mi Perfil Link -->
  <a href="{% url 'profile' %}" class="flex items-center p-2 mt-4 text-[#6C4EF4] hover:bg-[#DED3F9] rounded">
    {% include 'icon/profile.html' with property="outline" %}
    Mi Perfil
  </a>

  <!-- Preferences Section -->
  <div class="mt-8">
    <div class="uppercase text-gray-400 mb-4">Preferencias</div>

    <!-- Ajustes Link -->
    <a href="{% url 'settings' %}" class="flex items-center p-2 text-[#6C4EF4] hover:bg-[#DED3F9] rounded">
      {% include 'icon/settings.html' with property="outline" %}
      Ajustes
    </a>

     <!-- Ayuda y Soporte Link -->
  <a href="{% url 'support' %}" class="flex items-center p-2 text-[#6C4EF4] hover:bg-[#DED3F9] rounded">
    {% include 'icon/info-circle.html' with property="outline" %}
    Ayuda y Soporte
  </a>

    <!-- Log Out Link -->
    <a href="{% url 'logout' %}" class="flex items-center p-2 text-[#6C4EF4] hover:bg-[#DED3F9] rounded">
      {% include 'icon/logout.html' with property="outline" %}
      Log Out
    </a>
  </div>
</nav>
