{% load i18n %}
<nav class="flex flex-col h-screen justify-between w-full px-3 py-8 bg-white shadow-lg">
  <!-- Up Section -->
  <div>
    <!-- Logo -->
    <div class="text-2xl font-bold">
      <a href="{% url 'home' %}" class="text-primary_medium flex gap-2 px-3 items-center">
        <i>{% include 'icon/flowlance.html' with w='32' h='32' %}</i>
        <span>Flowlance</span>
      </a>
    </div>

    <!-- Main Menu -->
    <div class="text-primary_lightest p-3 mt-3">MAIN MENU</div>

    <div class="flex flex-col gap-1">
      <!-- Dashboard Link -->
      {% if 'dashboard' in request.path %}
      {% with icon_property="bold" %}
      <a href="{% url 'dashboard' %}" class="flex items-center p-3 gap-3 bg-primary_medium text-white rounded-lg">
        {% include 'icon/home.html' with property=icon_property %}
        Dashboard
      </a>
      {% endwith %}
      {% else %}
      {% with icon_property="outline" %}
      <a href="{% url 'dashboard' %}" class="flex items-center p-3 gap-3 text-primary_medium hover:bg-bg_gray rounded">
        {% include 'icon/home.html' with property=icon_property %}
        Dashboard
      </a>
      {% endwith %}
      {% endif %}

      <!-- Proyectos Link -->
      {% if 'project' in request.path %}
      {% with icon_property="bold" %}
      <a href="{% url 'project_list' %}" class="flex items-center p-3 gap-3 bg-primary_medium text-white rounded-lg">
        {% include 'icon/slider-vertical.html' with property=icon_property %}
        {% translate "Proyectos" %}
      </a>
      {% endwith %}
      {% else %}
      {% with icon_property="outline" %}
      <a href="{% url 'project_list' %}"
        class="flex items-center p-3 gap-3 text-primary_medium hover:bg-bg_gray rounded">
        {% include 'icon/slider-vertical.html' with property=icon_property %}
        {% translate "Proyectos" %}
      </a>
      {% endwith %}
      {% endif %}

      <!-- Chat Link -->
      {% if 'chat' in request.path %}
      {% with icon_property="bold" %}
      <a href="{% url 'chat_overview' %}" class="flex items-center p-3 gap-3 bg-primary_medium text-white rounded-lg">
        {% include 'icon/message.html' with property=icon_property %}
        Chat
      </a>
      {% endwith %}
      {% else %}
      {% with icon_property="outline" %}
      <a href="{% url 'chat_overview' %}" class="flex items-center p-3 gap-3 text-primary_medium hover:bg-bg_gray rounded">
        {% include 'icon/message.html' with property=icon_property %}
        Chat
      </a>
      {% endwith %}
      {% endif %}

      <!-- Mi Perfil Link -->
      {% if 'profile' in request.path %}
      {% with icon_property="bold" %}
      <a href="{% url 'my_profile' %}"
        class="flex items-center p-3 gap-3 bg-primary_medium text-white rounded-lg">
        {% include 'icon/profile.html' with property=icon_property %}
        {% translate "Mi Perfil" %}
      </a>
      {% endwith %}
      {% else %}
      {% with icon_property="outline" %}
      <a href="{% url 'my_profile' %}"
        class="flex items-center p-3 gap-3 text-primary_medium hover:bg-bg_gray rounded">
        {% include 'icon/profile.html' with property=icon_property %}
        {% translate "Mi Perfil" %}
      </a>
      {% endwith %}
      {% endif %}
    </div>
  </div>

  <!-- Down section -->
  <div>

    <!-- Preferences Section -->
    <div class="text-primary_lightest p-3 mt-3">{% translate "PREFERENCIAS" %}</div>

    <div class="flex flex-col gap-1">
      <!-- Ajustes Link -->
      {% if 'settings' in request.path %}
      {% with icon_property="bold" %}
      <a href="{% url 'account_settings' %}" class="flex items-center p-3 gap-3 bg-primary_medium text-white rounded-lg">
        {% include 'icon/settings.html' with property=icon_property %}
        {% translate "Ajustes" %}
      </a>
      {% endwith %}
      {% else %}
      {% with icon_property="outline" %}
      <a href="{% url 'account_settings' %}" class="flex items-center p-3 gap-3 text-primary_medium hover:bg-bg_gray rounded">
        {% include 'icon/settings.html' with property=icon_property %}
        {% translate "Ajustes" %}
      </a>
      {% endwith %}
      {% endif %}

      

      <!-- Log Out Link -->
      <form action="{% url 'logout' %}" method="post" class="inline w-full">
        {% csrf_token %}
        <button type="submit" class="flex items-center p-3 gap-3 text-primary_medium hover:bg-bg_gray rounded w-full">
          {% include 'icon/logout.html' with property="outline" %}
          Log Out
        </button>
      </form>

    </div>

  </div>

</nav>
