<form action="" method="GET" class="flex items-center px-5 py-2 justify-between bg-white shadow rounded-xl">
    <!-- Input de búsqueda con ícono -->
    <div class="flex items-center border-1 w-full">
        <!-- Ícono de búsqueda -->
        {% include 'icon/search.html' with w='24' h='24' %}

        <!-- Input estilizado -->
        <input 
            type="text" 
            name="query"
            placeholder="Buscar Proyectos disponibles" 
            class="w-full rounded-xl border-solid outline-none focus:outline-none focus:ring-0"
            value="{{ request.GET.query|default_if_none:'' }}"> <!-- Para mantener el valor en caso de búsqueda -->

    </div>

    <!-- Acciones a la derecha (Filtros, notificaciones, ajustes, perfil) -->
    <div class="flex items-center gap-4 w-1/3">
        <!-- Filtro -->
        {% include 'icon/filter.html' with w='24' h='24' class='text-primary_black' %}
        
        <!-- Notificaciones con badge rojo -->
        <div class="relative">
            {% include 'icon/bell.html' with w='24' h='24' class='text-primary_black' %}
            <span class="absolute top-0 right-0 block h-2 w-2 bg-red-500 rounded-full"></span>
        </div>

        <!-- Ajustes -->
        {% include 'icon/settings.html' with w='24' h='24' class='text-primary_black' %}

        <!-- Imagen de perfil -->
        <img src="" alt="Perfil" class="w-8 h-8 rounded-full">
    </div>
</form>
