{% extends 'navigation/navigation.html' %}

{% load i18n %}

{% block app_content %}
<div class="space-y-12">
    <!-- Información de Pago -->
    <div class="bg-primary_lightest/25 p-8 rounded-xl shadow-sm flex flex-col gap-2">
        <h2 class="text-xl font-bold text-primary_black">{% translate "Información de Pago" %}</h2>
        <div class="flex justify-between text-primary_black/55">
            <p class="">{% translate "Por favor, ingresa la información de pago para proceder con la transacción." %}</p>
            <!-- <span>{% translate "Paso 1 de 3" %}</span> -->
        </div>
        
        <form method="post" action="{% url 'payment_process' freelancer.id %}" class="flex flex-col gap-2">
            {% csrf_token %}
            
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label for="paypal_email" class="block  text-primary_black">{% translate "Correo de PayPal" %}</label>
                    <input 
                        type="email" 
                        id="paypal_email" 
                        name="paypal_email" 
                        value="{{ freelancer.user.email }}" 
                        required 
                        class="w-full border border-gray-300 rounded-lg p-3 focus:border-primary_medium focus:ring-1 focus:ring-primary_medium transition-shadow"
                        placeholder="ejemplo@correo.com">
                </div>

                <div>
                    <label for="amount" class="block  text-primary_black">{% translate "Monto a Pagar (USD)" %}</label>
                    <input 
                        type="number" 
                        id="amount" 
                        name="amount" 
                        min="1" 
                        step="0.01" 
                        value="80.00" 
                        required 
                        class="w-full border border-gray-300 rounded-lg p-3 focus:border-primary_medium focus:ring-1 focus:ring-primary_medium transition-shadow"
                        placeholder="Ej. 100.00">
                </div>
            </div>

            <button type="submit" 
                    class="bg-gradient-to-r from-primary_medium to-primary_dark text-white px-8 py-3 rounded-full hover:from-primary_dark hover:to-primary_medium transition-all font-semibold shadow-md hover:shadow-lg w-full sm:w-auto mt-4">
                {% translate "Pagar con Paypal" %}
            </button>
            
        </form>

    </div>

    <!-- Historial de Transacciones y Filtros -->
    <div class="bg-primary_lightest/25 p-8 rounded-xl shadow-sm flex flex-col gap-2">
        <h2 class="text-xl font-bold text-primary_black">{% translate "Historial de Transacciones" %}</h2>
        <div class="flex justify-between text-primary_black/55">
            <p class="">{% translate "Revisa el historial de transacciones de este freelancer." %}</p>
            <!-- <span>{% translate "Paso 2 de 3" %}</span> -->
        </div>
        
        <form method="get" action="{% url 'payment_process' freelancer.id %}" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
            <!-- Campos de Filtro -->
            <div>
                <label for="min_amount" class="block text-primary_black">{% translate "Monto mínimo" %}</label>
                <input 
                    type="number" 
                    id="min_amount" 
                    name="min_amount" 
                    step="0.01" 
                    value="{{ request.GET.min_amount }}" 
                    class="w-full border border-gray-300 rounded-lg p-3 focus:border-primary_medium focus:ring-1 focus:ring-primary_medium transition-shadow">
            </div>

            <div>
                <label for="max_amount" class="block  text-primary_black">{% translate "Monto máximo" %}</label>
                <input 
                    type="number" 
                    id="max_amount" 
                    name="max_amount" 
                    step="0.01" 
                    value="{{ request.GET.max_amount }}" 
                    class="w-full border border-gray-300 rounded-lg p-3 focus:border-primary_medium focus:ring-1 focus:ring-primary_medium transition-shadow">
            </div>

            <div>
                <label for="start_date" class="block  text-primary_black">{% translate "Fecha de inicio" %}</label>
                <input 
                    type="date" 
                    id="start_date" 
                    name="start_date" 
                    value="{{ request.GET.start_date }}" 
                    class="w-full border border-gray-300 rounded-lg p-3 focus:border-primary_medium focus:ring-1 focus:ring-primary_medium transition-shadow">
            </div>

            <div>
                <label for="end_date" class="block  text-primary_black">{% translate "Fecha de fin" %}</label>
                <input 
                    type="date" 
                    id="end_date" 
                    name="end_date" 
                    value="{{ request.GET.end_date }}" 
                    class="w-full border border-gray-300 rounded-lg p-3 focus:border-primary_medium focus:ring-1 focus:ring-primary_medium transition-shadow">
            </div>

            <button type="submit" 
                    class="col-span-1 md:col-span-4 bg-gradient-to-r from-primary_medium to-primary_dark text-white px-8 py-3 rounded-full hover:from-primary_dark hover:to-primary_medium transition-all font-semibold shadow-md hover:shadow-lg w-full sm:w-auto mt-4">
                {% translate "Filtrar" %}
            </button>
        </form>

        <!-- Tabla de Transacciones -->
        <table class="min-w-full bg-white rounded-lg shadow-lg mt-6 border border-gray-300">
            <thead class="bg-primary_lightest/25 text-primary_black">
                <tr>
                    <th class="text-left py-4 px-6 font-semibold text-sm uppercase tracking-wider">{% translate "ID de Transacción" %}</th>
                    <th class="text-left py-4 px-6 font-semibold text-sm uppercase tracking-wider">{% translate "Fecha" %}</th>
                    <th class="text-left py-4 px-6 font-semibold text-sm uppercase tracking-wider">{% translate "Monto" %}</th>
                    <th class="text-left py-4 px-6 font-semibold text-sm uppercase tracking-wider">{% translate "Estado" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr class="border-t border-gray-200 hover:bg-gray-50 transition-colors">
                    <td class="py-4 px-6 text-sm text-gray-700">{{ transaction.transaction_id }}</td>
                    <td class="py-4 px-6 text-sm text-gray-700">{{ transaction.created_at }}</td>
                    <td class="py-4 px-6 text-sm text-gray-700">${{ transaction.amount }}</td>
                    <td class="py-4 px-6 text-sm text-gray-700">{{ transaction.status }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center py-6 text-gray-500">{% translate "No hay transacciones registradas para este freelancer." %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
