{% extends "base.html" %}

{% block content %}

<div class="pt-16 pb-10 px-4 sm:px-6 lg:px-8 bg-bg_white"> 

    <div class="max-w-7xl mx-auto mb-6 ml-24">
        <h1 class="text-3xl font-bold text-primary_black text-left">Creación del portafolio</h1>
        <h2 class="text-lg font-semibold text-primary_dark text-left">Cursos</h2> 
        <p class="block text-primary_black font-light mt-4 font-sans" for="informacion_cursos">
            Aquí puedes agregar información de cursos relevantes que hayas realizado.
        </p>
    </div>
    

    <div class="max-w-2xl mx-auto bg-bg_white p-8 rounded-md">
        <form method="POST" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}

            <div>
                <label class="block text-primary_black font-medium" for="nombre_curso">Ingresa el nombre del curso</label>
                <input type="text" name="nombre_curso" class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium" placeholder="nombre del curso" required>
            </div>

            <div>
                <label class="block text-primary_black font-medium" for="descripcion_curso">Ingresa una descripción del curso</label>
                <textarea name="descripcion_curso" rows="4" class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium" placeholder="descripción del curso"></textarea>
            </div>

            <div>
                <label class="block text-primary_black font-medium" for="organizacion">Ingresa la organización que expide el certificado</label>
                <input type="text" name="organizacion" class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium" placeholder="nombre de la organización">
            </div>

            <div>
                <label class="block text-primary_black font-medium" for="enlace_curso">Ingresa el enlace del curso</label>
                <input type="url" name="enlace_curso" class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium" placeholder="https://example.com">
            </div>

            <div>
                <label class="block text-primary_black font-medium">Imagen del curso</label>
                <div class="mt-1 flex justify-center items-center  px-6 pt-5 pb-6 border-2 border-dashed rounded-md">
                    <div class="space-y-1 text-center">
                        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                            <path d="M8 19v11a2 2 0 002 2h28a2 2 0 002-2V19M16 7h16v6a2 2 0 01-2 2H18a2 2 0 01-2-2V7z" />
                        </svg>
                        <div class="flex text-sm text-gray-600 justify-center">
                            <label for="imagen_curso" class="relative cursor-pointer bg-white rounded-md font-medium text-primary_medium hover:text-primary_dark focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-primary_medium">
                                <span>Arrastra tu archivo aquí</span>
                                <input id="imagen_curso" name="imagen_curso" type="file" class="sr-only">
                            </label>
                        </div>
                        <p class="text-xs text-gray-500">Aquí puedes adjuntar una imagen del curso.</p>
                    </div>
                </div>
            </div>


            <div class="flex justify-center">
                <button type="submit" class="bg-primary_dark text-white font-bold py-3 px-6 rounded-md hover:bg-primary_black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary_dark">
                    Confirmar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
