{% extends "base.html" %}

{% block content %}

{% load i18n %}
<div class="pt-16 pb-10 px-4 sm:px-6 lg:px-8 bg-bg_white"> 

    <div class="max-w-7xl mx-auto mb-6 sm:ml-0 lg:ml-40">
        <h1 class="text-3xl font-bold text-primary_black text-left">{% translate "Añadir y Eliminar Habilidades del Perfil" %}</h1>
        <h2 class="text-lg font-semibold text-primary_dark text-left">{% translate "Habilidades" %}</h2> 
        <p class="block text-primary_black font-normal mt-4 font-sans semi">
            {% translate "Aquí puedes agregar o eliminar habilidades de tu perfil. " %}
        </p>
    </div>

    <div class="max-w-2xl mx-auto bg-bg_white p-8 rounded-md" id="form-container">
        <form id="skillsForm" method="POST" class="space-y-6">
            {% csrf_token %}

            <!-- Mostrar las habilidades actuales -->
            <div class="mt-6">
                <h2 class="text-lg font-semibold text-primary_black">{% translate "Habilidades Actuales" %}</h2>
                <ul class="mt-4">
                    {% for skill in profile.skills.all %}
                        <li class="flex justify-between items-center py-2">
                            <span>{{ skill.name }}</span>
                            <form method="POST" action="{% url 'delete_skill' skill.id %}">
                                {% csrf_token %}
                                <button type="submit" class="text-red-500 hover:text-red-700">{% translate "Eliminar" %}</button>
                            </form>
                        </li>
                    {% empty %}
                        <p class="text-gray-600">{% translate "No tienes habilidades agregadas." %}</p>
                    {% endfor %}
                </ul>
            </div>

            <!-- Información del perfil -->
            <div>
                <label class="block text-primary_black font-medium" for="job_title">{% translate "Título Profesional" %}</label>
                <input type="text" name="job_title" id="job_title"
                    class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium"
                    value="{{ form.job_title.value|default_if_none:'' }}" placeholder="Ingresa tu título profesional">
            </div>

            <div>
                <label class="block text-primary_black font-medium" for="about_me">{% translate "Acerca de mí" %}</label>
                <textarea name="about_me" id="about_me" rows="4"
                    class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium"
                    placeholder="Escribe sobre ti">{{ form.about_me.value|default_if_none:'' }}</textarea>
            </div>

            <div>
                <label class="block text-primary_black font-medium" for="location">{% translate "Ubicación" %}</label>
                <input type="text" name="location" id="location"
                    class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium"
                    value="{{ form.location.value|default_if_none:'' }}" placeholder="Ingresa tu ubicación">
            </div>

            <div>
                <label class="block text-primary_black font-medium" for="linkedin">{% translate "LinkedIn" %}</label>
                <input type="url" name="linkedin" id="linkedin"
                    class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium"
                    value="{{ form.linkedin.value|default_if_none:'' }}" placeholder="https://linkedin.com/tu-perfil">
            </div>

            <div>
                <label class="block text-primary_black font-medium" for="github">{% translate "GitHub" %}</label>
                <input type="url" name="github" id="github"
                    class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium"
                    value="{{ form.github.value|default_if_none:'' }}" placeholder="https://github.com/tu-usuario">
            </div>

            <div>
                <label class="block text-primary_black font-medium" for="twitter">{% translate "Twitter" %}</label>
                <input type="url" name="twitter" id="twitter"
                    class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium"
                    value="{{ form.twitter.value|default_if_none:'' }}" placeholder="https://twitter.com/tu-usuario">
            </div>

            <!-- Habilidades -->
            <h2 class="text-lg font-semibold text-primary_dark text-left">{% translate "Agregar Habilidades" %}</h2>

            <div>
                <label class="block text-primary_black font-medium" for="predefined_skills">{% translate "Habilidades Predeterminadas" %}</label>
                {% if form.all_skills_selected %}
                    <p class="text-gray-600 text-center">{% translate "Ya tienes todas las habilidades predeterminadas" %}</p>
                {% else %}
                    {{ form.predefined_skills }}
                {% endif %}
            </div>

            <div>
                <label class="block text-primary_black font-medium">{{ form.custom_skills.label }}</label>
                <textarea name="custom_skills" rows="4" class="mt-1 block w-full rounded-md border-gray-300 focus:ring-primary_medium focus:border-primary_medium" placeholder="Escribe tus habilidades personalizadas separadas por comas">{{ form.custom_skills.value|default_if_none:'' }}</textarea>
            </div>

            <div class="flex justify-center">
                <button type="submit" class="bg-primary_dark text-white font-bold py-3 px-6 rounded-md hover:bg-primary_black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary_dark">
                    {% translate "Guardar Información" %}
                </button>
            </div>
        </form>
    </div>
</div>

<div id="confirmationModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <div class="flex justify-end">
            <button id="closeModal" class="text-gray-500 hover:text-gray-700">&times;</button>
        </div>
        <div class="text-center">
            <svg class="mx-auto h-12 w-12 text-primary_medium mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
            </svg>
            <h3 class="text-lg font-semibold text-primary_black">{% translate "Información guardada exitosamente" %}</h3>
            <p class="text-gray-600 mt-2">{% translate "¿Deseas seguir agregando habilidades?" %}</p>
            <div class="mt-4 flex justify-center space-x-4">
                <button id="addMore" class="bg-primary_medium text-white px-4 py-2 rounded hover:bg-primary_dark">{% translate "Sí" %}</button>
                <button id="submitForm" class="bg-gray-100 text-gray-600 px-4 py-2 rounded hover:bg-primary_dark">{% translate "No" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('skillsForm').addEventListener('submit', function (e) {
        e.preventDefault();
        document.getElementById('confirmationModal').classList.remove('hidden'); 
    });

    document.getElementById('addMore').addEventListener('click', function () {
        let formData = new FormData(document.getElementById('skillsForm'));
        
        fetch("{% url 'add_skills' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
            }
        })
        .then(response => {
            if (response.ok) {
                document.getElementById('confirmationModal').classList.add('hidden');
                document.getElementById('skillsForm').reset();
                document.getElementById('form-container').scrollIntoView({ behavior: 'smooth' }); 
            } else {
                alert('Hubo un error al guardar las habilidades, intenta nuevamente.');
            }
        })
        .catch(error => console.error('Error:', error));
    });

    document.getElementById('submitForm').addEventListener('click', function () {
        document.getElementById('confirmationModal').classList.add('hidden');
        document.getElementById('skillsForm').submit(); 
    });

    document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('confirmationModal').classList.add('hidden'); 
    });
</script>

{% endblock %}
