
{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% block app_content %}
<div class="max-w-2xl mx-auto p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-3xl font-bold mb-6 text-primary_black">{% translate "Calificando a: {{ freelancer.user.username }}" %}</h2>
    <form method="post" id="ratingForm" class="space-y-6">
        {% csrf_token %}
        <!-- Sección de Calificación con Estrellas -->
        <div class="flex items-center space-x-4 mb-4">
            <label class="text-xl font-semibold text-primary_black">Calificación:</label>
            <div id="starContainer" class="flex space-x-1">
                <!-- Estrellas interactivas -->
                {% for i in "12345" %}
                <svg id="star-{{ forloop.counter }}" data-value="{{ forloop.counter }}" class="w-10 h-10 text-primary_lightest cursor-pointer transition-colors duration-300 hover:text-primary_dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M12 .587l3.668 7.431 8.167 1.178-5.917 5.758 1.397 8.146L12 18.897l-7.315 3.847 1.397-8.146L.165 9.196l8.167-1.178L12 .587z"></path>
                </svg>
                {% endfor %}
            </div>
        </div>

        <!-- Campo de Comentario -->
        <div class="mb-6">
            <h3 class="text-xl font-semibold mb-2 text-primary_black">{% translate "Añadir una descripción" %}</h3>
            <textarea name="comment" id="id_comment" rows="4" class="w-full p-4 border border-gray-300 rounded-md focus:ring-primary_medium focus:border-primary_medium bg-bg_gray placeholder-primary_lightest shadow-sm hover:shadow-md transition-shadow duration-300"></textarea>
            <h3 class="text-xl font-semibold mb-2"></h3>
            <textarea name="comment" id="id_comment" rows="4" class="w-full p-2 border border-gray-300 rounded-md"></textarea>
        </div>

        <!-- Campo oculto para el número de estrellas -->
        <input type="hidden" name="stars" id="id_stars" value="0">

        <!-- Botón de Confirmación -->
        <button type="submit" class="w-full bg-primary_medium text-white hover:bg-primary_dark transition-colors px-4 py-2 rounded">{% translate "Confirmar" %}</button>
    </form>
</div>

<script src="{% static 'js\profile\add_rating.js' %}"></script>

{% endblock %}
