{% extends "navigation/navigation.html" %}

{% block content %}
<div class="flex flex-col items-start justify-center w-full h-full px-8">

    <!-- Información Básica del Freelancer -->
    <div class="w-full bg-white shadow-lg rounded-lg p-8">
        <div class="flex flex-col sm:flex-row items-start sm:items-start">
            <!-- Foto de perfil -->
            <img src="https://avatars.githubusercontent.com/u/1561955?v=4" alt="Foto de {{ profile.user.username }}" class="w-24 h-24 sm:w-32 sm:h-32 rounded-full shadow-lg">
            <!-- Información básica -->
            <div class="sm:ml-6 mt-6 sm:mt-0">
                <h1 class="text-2xl sm:text-3xl font-bold text-gray-800">{{ profile.user.username }}</h1>
            </div>
        </div>
    </div>

    <!-- Sección de Habilidades -->
    <div class="w-full bg-white shadow-lg rounded-lg mt-8 p-8">
        <h2 class="text-xl font-bold text-gray-800">Habilidades</h2>
        <ul class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
            {% for skill in skills %}
            <li class="text-gray-700">{{ skill.name }}</li>
            {% empty %}
            <li class="text-gray-500">No se han agregado habilidades aún.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Sección de Experiencia Laboral -->
    <div class="w-full bg-white shadow-lg rounded-lg mt-8 p-8">
        <h2 class="text-xl font-bold text-gray-800">Experiencia Laboral</h2>
        <ul class="mt-4 space-y-4">
            {% for experience in experiences %}
            <li class="bg-gray-100 p-4 rounded-lg shadow">
                <h3 class="text-lg font-semibold text-gray-800">{{ experience.title }}</h3>
                <p class="text-gray-600">{{ experience.company }}</p>
                <p class="text-gray-500 text-sm">Desde: {{ experience.start_date }}{% if experience.end_date %} hasta: {{ experience.end_date }}{% else %} hasta la fecha{% endif %}</p>
                <p class="text-gray-700">{{ experience.description }}</p>
            </li>
            {% empty %}
            <li class="text-gray-500">No se ha añadido experiencia laboral aún.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Sección de Curriculum Vitae -->
    <div class="w-full bg-white shadow-lg rounded-lg mt-8 p-8">
        <h2 class="text-xl font-bold text-gray-800">Curriculum Vitae</h2>
        {% if profile.freelancer_cv and profile.freelancer_cv.file %}
            <a href="{{ profile.freelancer_cv.file.url }}" class="text-purple-600 hover:text-purple-500 underline">Descargar Curriculum</a>
        {% else %}
            <p class="text-gray-500">No se ha subido ningún CV aún.</p>
        {% endif %}
    </div>

    <!-- Sección de Portafolio -->
    <div class="w-full bg-white shadow-lg rounded-lg mt-8 p-8">
        <h2 class="text-xl font-bold text-gray-800">Portafolio</h2>
        {% if portfolio %}
            <h4 class="text-lg font-semibold text-gray-600 mt-4">Proyectos:</h4>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
                {% for project in projects %}
                <div class="bg-gray-100 p-4 rounded-lg shadow-lg">
                    <img src="{{ project.project_image.url }}" alt="{{ project.project_name }}" class="w-full h-40 object-cover rounded-md mb-4">
                    <h5 class="text-lg font-semibold text-gray-800">{{ project.project_name }}</h5>
                    <p class="text-gray-600 mt-2">{{ project.project_description }}</p>
                </div>
                {% empty %}
                <p class="text-gray-500">No hay proyectos registrados en el portafolio aún.</p>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-gray-500">No se ha creado un portafolio aún.</p>
        {% endif %}
    </div>

    <!-- Sección de Cursos -->
    <div class="w-full bg-white shadow-lg rounded-lg mt-8 p-8">
        <h2 class="text-xl font-bold text-gray-800">Cursos</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
            {% for course in courses %}
            <div class="bg-gray-100 p-4 rounded-lg shadow-lg">
                <img src="{{ course.course_image.url }}" alt="{{ course.course_name }}" class="w-full h-40 object-cover rounded-md mb-4">
                <h5 class="text-lg font-semibold text-gray-800">{{ course.course_name }}</h5>
                <p class="text-gray-600 mt-2">Organización: {{ course.organization }}</p>
                <p class="text-gray-500">Fecha de expedición: {{ course.expedition_date }}</p>
                <a href="{{ course.course_link }}" class="text-purple-600 hover:text-purple-500 underline mt-2">Enlace del Curso</a>
                <p class="text-gray-600 mt-2">{{ course.course_description }}</p>
            </div>
            {% empty %}
            <p class="text-gray-500">No se han agregado cursos aún.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
