{% extends "navigation/navigation.html" %}

{% block app_content %}
<div class="flex flex-col items-start justify-center w-full h-full px-8">

    <div class="w-full bg-bg_gray shadow-lg rounded-lg p-8">
        <div class="flex flex-col sm:flex-row items-center sm:items-start">
            <img src="https://avatars.githubusercontent.com/u/1561955?v=4" alt="Foto de {{ profile.user.username }}"
                class="w-24 h-24 sm:w-32 sm:h-32 rounded-full shadow-lg">
            <div class="sm:ml-6 mt-6 sm:mt-0 flex-1">
                <h1 class="text-3xl sm:text-3xl font-bold text-primary_medium">{{ profile.user.username }}</h1>
                <p class="text-primary_black font-semibold">Desarrollador Full Stack</p>
                <p class="text-primary_black mt-2">
                    Apasionado del desarrollo web con más de 5 años de experiencia en la creación de aplicaciones
                    robustas y escalables.
                </p>
                <p class="text-primary_black mt-2 flex items-center">
                    Cali, Valle del Cauca, Colombia
                    <span class="ml-2">
                        {% include 'icon/LocationIcon.html' %}
                    </span>
                </p>
                <div class="flex space-x-4 mt-4">
                    <a href="https://www.linkedin.com" aria-label="LinkedIn"
                        class="text-primary_medium hover:text-primary_dark">
                        {% include 'icon/LinkedInIcon.html' %}
                    </a>
                    <a href="https://twitter.com" aria-label="Twitter"
                        class="text-primary_medium hover:text-primary_dark">
                        {% include 'icon/TwitterIcon.html' %}
                    </a>
                    <a href="https://github.com" aria-label="GitHub"
                        class="text-primary_medium hover:text-primary_dark">
                        {% include 'icon/GithubIcon.html' %}
                    </a>
                </div>
                <button
                class="bg-primary_medium text-white px-4 py-2 rounded-xl mt-4 hover:bg-primary_dark transition-transform duration-300 hover:scale-110">
                    Editar Perfil
                </button>
            </div>
        </div>

        <div class="mt-6">
            <h2 class="text-xl font-bold text-primary_black">Habilidades</h2>
            <div class="mt-4 flex flex-wrap gap-2">
                {% for skill in skills %}
                <span
                    class="bg-primary_lightest text-primary_black px-3 py-1 rounded-full text-sm font-medium shadow-sm">
                    {{ skill.name }}
                </span>
                {% empty %}
                <p class="text-gray-500">No se han agregado habilidades aún.</p>
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="w-full bg-bg_gray shadow-lg rounded-lg mt-8 p-8">
        <h2 class="text-2xl font-bold text-primary_black">Experiencia Laboral</h2>
        <ul class="mt-4 space-y-6">
            {% for experience in experiences %}
            <li class="bg-white p-6 rounded-lg shadow flex items-start space-x-4">
                <div class="flex-shrink-0">
                    <div class="bg-primary_medium text-white w-10 h-10 flex items-center justify-center rounded-full">
                        {% include 'icon/ExperienceIcon.html' %}
                    </div>
                </div>
                <div>
                    <h3 class="text-lg font-semibold text-primary_black">{{ experience.title }}</h3>
                    <p class="text-primary_medium font-medium">{{ experience.company }}</p>
                    <p class="text-gray-500 text-sm mt-1">
                        Desde: {{ experience.start_date|date:"M. d, Y" }}
                        {% if experience.end_date %} hasta: {{ experience.end_date|date:"M. d, Y" }}{% else %} hasta la
                        fecha{% endif %}
                    </p>
                    <p class="text-gray-700 mt-2">{{ experience.description }}</p>
                </div>
            </li>
            {% empty %}
            <li class="text-gray-500">No se ha añadido experiencia laboral aún.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="w-full bg-bg_gray shadow-lg rounded-lg mt-8 p-8">
        <h2 class="text-2xl font-bold text-primary_black">Portafolio</h2>

        {% if portfolio %}
        <h4 class="text-xl font-semibold text-primary_medium mt-4">Proyectos</h4>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
            {% for project in projects %}
            <div class="bg-gray-100 rounded-lg shadow-lg overflow-hidden">
                <img src="{{ project.project_image.url }}" alt="{{ project.project_name }}"
                    class="w-full h-40 object-cover rounded">
                <div class="p-4">
                    <h5 class="text-lg font-semibold text-gray-800">{{ project.project_name }}</h5>
                    <p class="text-gray-600 mt-2">{{ project.project_description }}</p>
                </div>
            </div>
            {% empty %}
            <p class="text-gray-500">No hay proyectos registrados en el portafolio aún.</p>
            {% endfor %}
        </div>

        <h4 class="text-xl font-semibold text-primary_medium mt-8">Cursos</h4>
        <div class="space-y-6 mt-4">
            {% for course in courses %}
            <div class="flex items-center bg-gray-100 p-4 rounded-lg shadow-lg">
                <img src="{{ course.course_image.url }}" alt="{{ course.course_name }}"
                    class="w-36 h-20 object-cover rounded-md mr-6">
                <div class="flex-1">
                    <div class="flex items-center justify-between">
                        <h5 class="text-lg font-semibold text-primary_black mb-1">{{ course.course_name }}</h5>
                        <a href="{{ course.course_link }}"
                            class="text-primary_medium hover:text-primary_dark ml-2 inline-flex items-center">
                            {% include 'icon/LinkIcon.html' %}
                        </a>
                    </div>
                    <p class="text-primary_dark mb-1">{{ course.organization }}</p>
                    <p class="text-gray-500 mb-1">Expedición: {{ course.expedition_date|date:"M Y" }}</p>
                </div>
            </div>
            {% empty %}
            <p class="text-gray-500">No se han agregado cursos aún.</p>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-gray-500">No se ha creado un portafolio aún.</p>
        {% endif %}
    </div>


    <div class="w-full bg-bg_gray shadow-lg rounded-lg mt-8 p-8">
        <h2 class="text-2xl font-bold text-primary_black">Curriculum Vitae</h2>
        {% if profile.freelancer_cv and profile.freelancer_cv.file %}
        <a href="{{ profile.freelancer_cv.file.url }}" class="text-purple-600 hover:text-purple-500 underline">Descargar
            Curriculum</a>
        {% else %}
        <p class="text-gray-500">No se ha subido ningún CV aún.</p>
        {% endif %}
    </div>

    <!-- Ratings and Reviews Section -->
    <div class="w-full bg-bg_gray shadow-lg rounded-lg mt-8 p-8">
        <h2 class="text-2xl font-bold text-primary_black">Calificaciones y Comentarios</h2>

        <div class="mt-4 space-y-4">
            {% for rating in ratings %}
            <div class="bg-gray-100 p-4 rounded-lg shadow">
                <p class="text-gray-800 font-semibold">{{ rating.stars }} estrellas por {{ rating.client.username }}</p>
                <p class="text-gray-700">{{ rating.comment }}</p>
                {% if rating.response %}
                <div class="bg-gray-50 p-2 mt-2 rounded">
                    <p class="text-gray-600 font-semibold">Respuesta: {{ rating.response.response_text }}</p>

                    <div class="flex space-x-2 mt-1">
                        {% if rating.response.can_edit %}
                        <a href="{% url 'edit_rating_response' rating.response.id %}"
                            class="text-blue-600 hover:text-blue-500 underline">Editar Respuesta</a>
                        {% endif %}

                        <!-- Formulario para eliminar respuesta -->
                        <form action="{% url 'delete_rating_response' rating.response.id %}" method="post"
                            class="inline">
                            {% csrf_token %}
                            <button type="submit" class="text-red-600 hover:text-red-500 underline">
                                Eliminar respuesta
                            </button>
                        </form>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'add_rating_response' rating.id %}"
                    class="text-purple-600 hover:text-purple-500 underline mt-2">Responder a esta calificación</a>
                {% endif %}

                <!-- Formulario para eliminar calificación -->
                <form action="{% url 'delete_rating' rating.id %}" method="post" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="text-red-600 hover:text-red-500 underline">
                        Eliminar Calificación
                    </button>
                </form>
            </div>
            {% empty %}
            <p class="text-gray-500">Sin calificaciones</p>
            {% endfor %}
        </div>

        <a href="{% url 'add_rating' profile.user.username %}"
            class="text-purple-600 hover:text-purple-500 underline mt-4 block">Calificar</a>
    </div>


</div>

{% endblock %}